<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/share-logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <link href="/static/dist/tailwind.css" rel="stylesheet">
    <title>Share</title>
  </head>
  <body>

    <div class="min-h-screen">

      <div class = "flex justify-around">
        <nav class="my-5">
          <a href = "/" class ="hidden sm:inline mx-5">Gabriel Gamboa</a>
        </nav>

        <nav class="my-5">
          <a href = "/" class ="hidden sm:inline mx-5">Who I am</a>
          <a href="/blog" class="hidden sm:inline mx-5">Blog</a>
          <a href="/projects" class="hidden sm:inline mx-5">Projects</a>        
        </nav>

        <nav class="flex my-5">
          <a href = "https://github.com/GaboUCR" target="_blank" class="mx-2"><img src= "/static/github.png"></a>
          <a href = "https://www.linkedin.com/in/gabriel-gamboa-vargas" target="_blank" class="mx-2"><img src= "/static/linkedin.png"></a>
        </nav>
      </div>

      {% block content %} {% endblock %}

    </div>
  </body>
</html>
