{% extends 'base.html' %}

{% block content %}
  <div  class="m-5">
    <h2>Who I am</h2>

    <div class="my-5">
      <p>Hi, my name is Gabriel Gamboa Vargas, I'm a senior studying Electrical Engineer at <a class = "text-blue-400 hover:text-blue-800" href="https://www.ucr.ac.cr" target="_blank">University of Costa Rica</a>, I'm not tired of studying though. Next year I will study Computer Science at <a class = "text-blue-400 hover:text-blue-800" href="https://www.tec.ac.cr" target="_blank">Instituto Tecnológico de Costa Rica</a> and Psicology at <a class = "text-blue-400 hover:text-blue-800" href="https://https://www.una.ac.cr" target="_blank">Universidad Nacional.</p>

      <h2>Why I will go to other colleges</h2>
      <p></p>

    </div>
  </div>
{% endblock %}
